node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
coffee.json
/allure-report
/allure-results
/tests/xcloud/loginState.json
tests/xcloud/tests/xcloud/loginState.json
